{% extends 'flatpages/default.html' %}

{% block title %}Сбор базы клиентов: парсинг email адресов {% endblock %}
{% block description %} Сделаем сбор базы клиентов и парсинг email адресов быстро и качественно. Выгодные цены и
гарантия результата.{% endblock %}

{% block content %}
<main class="main">
    <section class="first-screen">
        <div class="container">
            <h1>Парсинг конкурентов: будьте на шаг впереди!</h1>
            <p>&nbsp;</p>
            <p class="advantages__text">Хотите знать, какие цены предлагают ваши конкуренты, какие отзывы имеют,
                сколько товаров продали?
                Настройте <strong>парсинг цен конкурентов</strong> и мониторинг других обновлений,
                собирая данные об изменениях у своих конкурентов в реальном времени. Это позволит вам оперативно
                реагировать на движения рынка и корректировать свою ценовую политику.</p>
            <p>&nbsp;</p>
            <p style="text-align: center;"><img src="\static\assets\rivals_pars.jpg" alt="Парсинг конкурентов" width="40%" height="40%" /></p>
            <p>&nbsp;</p>
            <h3>Узнавайте об изменениях на сайте конкурентов первыми</h3>
            <p class="advantages__text">Мы обеспечиваем регулярный <strong>парсинг сайтов конкурентов</strong> и
                мгновенно уведомляем вас о любых изменениях. Новые акции, публикации, обновления каталога -
                обо всем вы узнаете первыми. Наш сервис позволит отслеживать стратегии,
                вовремя адаптировать свои маркетинговые ходы и оперативно внедрять лучшие решения.</p>
            <p>&nbsp;</p>
            <h3>Удобный формат вывода новостей</h3>
            <p class="advantages__text">Настроим систему автоматического уведомления.
                Она будет передавать свежие данные в удобные вам каналы связи: telegram, What&rsquo;s App,
                Вконтакте или другие площадки. Вы получаете оперативный <strong>мониторинг конкурентов</strong>,
                не занимаясь этим вручную.</p>
            <p>&nbsp;</p>
            <h3>Какие данные мы собираем?</h3>
            <ol>
            <li class="advantages__text">Цены и наличие товаров.</li>
            <li class="advantages__text">Структура каталога.</li>
            <li class="advantages__text">Отзывы и рейтинги.</li>
            <li class="advantages__text">Рекламные объявления.</li>
            <li class="advantages__text">Маркетинговые стратегии.</li>
            </ol>
        </div>
    </section>
</main>
{% endblock content %}