{% extends 'flatpages/default.html' %}

{% block title %}Сбор базы клиентов: парсинг email адресов {% endblock %}
{% block description %} Сделаем сбор базы клиентов и парсинг email адресов быстро и качественно. Выгодные цены и
гарантия результата. Соберем базу номеров {% endblock %}

{% block content %}
<main class="main">
    <section class="first-screen">
        <div class="container">
            <h1>Сбор базы клиентов: доступ к данным любых ниш</h1>
            <p>&nbsp;</p>
            <p>Мы предлагаем <strong>сбор базы клиентов</strong> для компаний любых ниш: ритейл, услуги, здравоохранение и т.д. С
                нашей помощью вы получите актуальные контакты. Они помогут продвигать товары и услуги, а также расширить
                клиентскую базу. Дополнительно делаем <strong>парсинг </strong><strong>email адресов.</strong></p>
            <p>&nbsp;</p>
            <h3>Гибкость в выборе данных для отчета</h3>
            <p>Каждый бизнес имеет свои задачи, поэтому заказчик сам определяет, <strong>какие поля и параметры</strong> должны быть собраны.</p>
            <p><strong>К примеру, в отчет можно включить данные:</strong></p>
            <ul>
            <li>Название компании</li>
            <li>Телефон</li>
            <li>E-mail</li>
            <li>ИНН</li>
            <li>Категория бизнеса</li>
            <li>Виды деятельности</li>
            <li>Число сотрудников, год основания</li>
            <li>Уставной капитал</li>
            </ul>
            <p>Все это позволит получать <strong>релевантные данные</strong>, которые пригодятся в работе.</p>
            <p>🚀 <strong>Только вы определяете, какие данные вам важны, а мы их собираем!</strong> 😊</p>
            <p style="text-align: center;"><img src="\static\assets\bazy.jpg" alt="База компаний" width="90%" height="90%" /></p>
            <p>&nbsp;</p>
            <h3>Выбор площадок для сбора данных</h3>
            <p>Выбирайте площадки, с которых нужно сделать <strong>сбор клиентской базы</strong>. Это позволит получить
                наиболее релевантные контакты. Они лучше всего подойдут под ваш бизнес. Наш сервис гибко подстраивается под
                ваши требования. Собранные данные могут быть использованы для рекламы, обзвона клиентов и email-рассылок.
                Мы учитываем особенности вашего бизнеса и подбираем наиболее эффективные источники информации.</p>
            <p>&nbsp;</p>
            <h2>Источники данных</h2>
            <p>Мы осуществляем <strong>сбор базы данных клиентов</strong> с различных открытых ресурсов. Используем Яндекс.Карты.
                2Гис и другие. Наш сервис позволяет извлекать информацию о номерах телефонов, email-адресов, названий компаний
                и их месторасположении. Также возможно расширение базы за счет анализа форумов, соцсетей и специализированных
                порталов. Все данные обрабатываются и структурируются в удобном формате. Это сделает их использование
                комфортным для вас.</p>
        </div>
    </section>
</main>
{% endblock content %}