{% extends 'flatpages/default.html' %}

{% load static %}
{% load tags %}
{% block title %}Заявка на парсинг оставлена{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
<main class="main">
    <section class="first-screen">
        <div class="container">
            <h1>Вы успешно оставили заявку! Мы изучим ее и вскоре с вами свяжемся!
                Спасибо что выбрали нас!</h1>
        </div>
    </section>
</main>
{% endblock content %}



