{% extends 'flatpages/default.html' %}

{% block content %}
<main class="main">
    <section class="first-screen">
        <div class="container">
            <h1>О компании ParsX</h1>
            <p>&nbsp;</p>
            <p class="advantages__text">Мы занимаемся автоматизацией сбора данных, обработкой, структурированием и
                их импортом на ваши ресурсы.</p>
            <p>&nbsp;</p>
            <h2>Наши рабочие направления</h2>
            <ol>
                <li><a class="advantages__text" href="/service/parsing_tovarov">Парсинг товаров</a></li>
                <li><a class="advantages__text" href="/service/sbor_bazy_klientov">Сбор баз компаний</a></li>
                <li><a class="advantages__text" href="/service/parsing_konkurentov">Парсинг конкурентов</a></li>
            </ol>
        </div>
    </section>
</main>
{% endblock content %}