{% extends 'flatpages/default.html' %}

{% block content %}
<main class="main">
    <section class="first-screen">
        <div class="container">
            <h1>Контакты</h1>
            <p>&nbsp;</p>
            <ol>
                <li class="advantages__text">Телефон: +7-(951)-798-47-92</li>
                <li class="advantages__text">E-mail: info@parsx.ru</li>
                <li class="advantages__text">Адрес: г. Старый Оскол, мкр. Восточный, д. 1А</li>
            </ol>
            <p>&nbsp;</p>
            <h2>Наши рабочие направления</h2>
            <ol>
                <li><a class="advantages__text" href="/service/parsing_tovarov">Парсинг товаров</a></li>
                <li><a class="advantages__text" href="/service/sbor_bazy_klientov">Сбор баз компаний</a></li>
                <li><a class="advantages__text" href="/service/parsing_konkurentov">Парсинг конкурентов</a></li>
            </ol>
        </div>
    </section>
</main>
{% endblock content %}