{% load static %}
{% load tags %}


<footer class="min-vh-100 py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Главная</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Законность парсинга</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Цены</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">О компании</a></li>
      <li class="nav-item ms-3">
        <a class="navbar-brand" href="https://web.telegram.org/k/#@BIK_booking_bot" target="_blank">
          <i class="fa fa-telegram" aria-hidden="true" style="font-size: 28px;"></i>
        </a>
      </li>
      <li class="nav-item ms-3">
        <a class="navbar-brand" href="https://web.telegram.org/k/#@BIK_booking_bot" target="_blank">
          <i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 28px;"></i>
        </a>
      </li>
    </ul>
    <p class="text-center text-body-secondary">© 2025 your-parser.ru</p>
  </footer>