{% load static %}
{% load tags %}
<footer class="footer">
      <div class="container">
        <div class="footer__wrapper">
          <div class="footer__menu">
            <a class="footer__menu-link" href="#">Парсинг товаров </a>
            <a class="footer__menu-link" href="#">Парсинг сайтов</a>
            <a class="footer__menu-link" href="#">Сбор базы компаний</a>
            <a class="footer__menu-link" href="#">Мониторинг конкурентов</a>
          </div>
          <div class="footer__copyrights">
            <span class="footer__copyrights-item">2025 © your-parser.ru</span>
            <span class="footer__copyrights-item">Все права защищены</span>
          </div>
          <div class="footer__contacts">
            <a class="footer__contacts-link" href="mailto:info@parsx.ru">info@parsx.ru</a>
            <a class="footer__contacts-link" href="tel:+79517684792">+79517684792</a>
          </div>
        </div>
      </div>
    </footer>