{% load static %}
{% load tags %}

<section class="how-it-work">
    <div class="container">
        <h2 class="how-it-work__title">Порядок работы</h2>

        <div class="how-it-work__content">
            <figure class="how-it-work__figure">
              <img
                class="how-it-work__figure-image"
                src="{% static 'assets/how-it-work.png' %}"
                alt="how-it-work"
              />
            </figure>

            <ol class="how-it-work__list">
              <li class="how-it-work__list-item">Устанавливаем, какие данные вам нужны.</li>
              <li class="how-it-work__list-item">Ресурсы, с которых их можно забрать.</li>
              <li class="how-it-work__list-item">Выясняем, какая структура и формат вывода будут оптимальны под ваши задачи.</li>
              <li class="how-it-work__list-item">Оцениваем объем работ, и сообщаем вам их стоимость.</li>
              <li class="how-it-work__list-item">Создаем индивидуальный парсер под задачу.</li>
              <li class="how-it-work__list-item">Предоставляем готовый отчет.</li>
            </ol>
        </div>
    </div>
</section>

<section class="parse-target">
    <div class="container">
        <h2 class="parse-target__title">Цена парсинга</h2>
        <div class="parse-target__text">
            Стоимость рассчитывается исходя из поставленных задач и сложности. Также учитывается уровень защиты и объем
            данных. Автоматизация сбора обработки данных стоит от 1000 руб. Большим плюсом в ценообразовании будет
            понимание заказчика, с каких ресурсов забирать данные, и в какой структуре их формировать.
            Свяжитесь с нами для уточнения деталей.
        </div>

        <div class="parse-target__calc">
            <button class="parse-target__calc-button" type="button" data-bs-toggle="modal" data-bs-target="#login_ajax">Рассчитать стоимость</button>
        </div>
    </div>
</section>