{% load static %}
{% load tags %}
<script src="https://kit.fontawesome.com/018b9a4921.js" crossorigin="anonymous"></script>
<div class="container">
        <div class="header__wrapper">
          <div class="header__logo">
            <a class="header__logo-link" href="/">
              <img class="header__logo-link-image" src="{% static 'assets/logo.png' %}" alt="logo" />
            </a>
          </div>
          <div class="header__menu">
            <div class="header__menu-wrapper">
              <nav class="header__nav">
                <ul class="header__nav-menu">
                  <li class="header__nav-menu-item">
                    <a class="header__nav-menu-item-link" href="/contacts/">Контакты</a>
                  </li>
                  <li class="header__nav-menu-item">
                    <a class="header__nav-menu-item-link" href="/about_us/">О нас</a>
                  </li>
                  <li class="header__nav-menu-item">
                    <a class="header__nav-menu-item-link" href="#">Услуги</a>
                      <ul class="header__nav-submenu">
                        <li class="header__nav-submenu-item">
                          <a class="header__nav-submenu-item-link" href="/service/parsing_tovarov">Парсинг товаров</a>
                        </li>
                        <li class="header__nav-submenu-item">
                          <a class="header__nav-submenu-item-link" href="/service/sbor_bazy_klientov">Сбор базы компаний</a>
                        </li>
                        <li class="header__nav-submenu-item">
                          <a class="header__nav-submenu-item-link" href="/service/parsing_konkurentov">Парсинг конкурентов</a>
                        </li>
                      </ul>
                  </li>
                  {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                      <li class="nav-item text-nowrap">
                        <a class="nav-link" href="{% url 'service:create_service' %}">Добавить услугу</a>
                      </li>
                    {% endif %}
                  {% endif %}
                </ul>
              </nav>
              <div class="header__contacts">
                <div class="header__contacts-list">
                  <a class="header__contacts-list-link" href="mailto:info@parsx.ru">
                    info@parsx.ru
                  </a>
                  <a class="header__contacts-list-link" href="tel:+79517684792"> +79517684792 </a>
                </div>
                <div class="header__contacts-social">
                  <a class="navbar-brand" href="https://web.telegram.org/k/#@YuriyMadeInRf" target="_blank">
                    <i class="fa fa-telegram" aria-hidden="true" style="font-size: 34px; color:#00a3fe"></i>
                  </a>
                  <a class="navbar-brand" href="https://wa.me/79517684792?text=" target="_blank">
                    <i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 34px; color:green"></i>
                  </a>
                </div>
              </div>
              <div class="header__callback">
                <button class="header__callback header__callback-button" type="button" data-bs-toggle="modal" data-bs-target="#login_ajax">Оставить заявку</button>
              </div>
            </div>
          </div>
          <div class="header__burger">
            <button class="header__burger-button"></button>
          </div>
        </div>
</div>